.m-ferry {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -1230px;

    .st0{fill:#1C75BC;}
    .st1{fill:#F1F2F2;}
    .st2{fill:#231F20;}
    .st3{fill:#FFFFFF;}
    .st4{fill:#2B3990;}
    .st5{fill:#D1D3D4;}
    .st6{fill:#FBB040;}
    .st7{fill:#231F20;stroke:#F1F2F2;stroke-width:3;stroke-miterlimit:10;}
    .st8{fill:#231F20;stroke:#D1D3D4;stroke-width:4;stroke-miterlimit:10;}

    &__boat {
        position: absolute;
        width: 1000px;
        height: 3000px;
        left: 50%;
        transform: rotate(-50deg) translate(-20%, -200vh);
        transition: transform 4s ease-in-out 1s;

        &--active {
            transform: rotate(0) translate(-50%, 0);
            transition: transform 4s ease-in-out 0s;
        }
    }

    &__loader {
        height: 20px;
        transition: height 1s ease-in-out 0s;

        &--active {
            height: 100px;
            transition: height 1s ease-in-out 4s;
        }
    }

    &__light {
        fill: #D1D3D4;

        &--active {
            animation: light 1s ease-in-out infinite 4s;
        }

        @keyframes light {
            from {
                fill: red;
            }
            to {
                fill: #D1D3D4;
            }
        }
    }
}