.m-ferry {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -1230px;

    &__boat {
        position: absolute;
        width: 1000px;
        height: 3000px;
        left: 50%;
        transform: rotate(-50deg) translate(-20%, -200vh);
        transition: transform 4s ease-in-out 1s;

        &--active {
            transform: rotate(0) translate(-50%, 0);
            transition: transform 4s ease-in-out 0s;
        }
    }

    &__loader {
        height: 20px;
        transition: height 1s ease-in-out 0s;

        &--active {
            height: 100px;
            transition: height 1s ease-in-out 4s;
        }
    }

    &__light {
        fill: #D1D3D4;

        &--active {
            animation: light 1s ease-in-out infinite 4s;
        }

        @keyframes light {
            from {
                fill: red;
            }
            to {
                fill: #D1D3D4;
            }
        }
    }

    &__data {
        transform: translate(200px, 600px);
        .cyclist-mask {
            .cls-1{fill:black;}.cls-2{fill:#3fffec;}

            g {
                @for $i from 1 through 7 {
                    &:nth-child(#{$i}) {
                        animation: animate-#{$i} $i * .1s ease-in-out forwards;
        
                        @keyframes animate-#{$i} {
                            from {
                                transform: translate(0, 0)
                            }
                            to {
                                transform: translate(-21px + -60px * $i, 120px)
                            }
                        }
                    }
                }

                @for $i from 8 through 14 {
                    &:nth-child(#{$i}) {
                        animation: animate-#{$i} $i * .1s ease-in-out forwards;
        
                        @keyframes animate-#{$i} {
                            from {
                                transform: translate(0, 0)
                            }
                            to {
                                transform: translate(400px + -60px * $i, 180px)
                            }
                        }
                    }
                }

                @for $i from 15 through 21 {
                    &:nth-child(#{$i}) {
                        animation: animate-#{$i} $i * .1s ease-in-out forwards;
        
                        @keyframes animate-#{$i} {
                            from {
                                transform: translate(0, 0)
                            }
                            to {
                                transform: translate(821px + -60px * $i, 240px)
                            }
                        }
                    }
                }

                @for $i from 22 through 28 {
                    &:nth-child(#{$i}) {
                        animation: animate-#{$i} $i * .1s ease-in-out forwards;
        
                        @keyframes animate-#{$i} {
                            from {
                                transform: translate(0, 0)
                            }
                            to {
                                transform: translate(1242px + -60px * $i, 300px)
                            }
                        }
                    }
                }

                @for $i from 29 through 35 {
                    &:nth-child(#{$i}) {
                        animation: animate-#{$i} $i * .1s ease-in-out forwards;
        
                        @keyframes animate-#{$i} {
                            from {
                                transform: translate(0, 0)
                            }
                            to {
                                transform: translate(1663px + -60px * $i, 360px)
                            }
                        }
                    }
                }
            }
        }

        .cyclist-no-mask {
            .cls-1{fill: black;}
        }
    }
}