.m-sidebar {
  top: 600px;
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  color: white;
  font-family: 'Quicksand', sans-serif;

  &__column {
    margin-top: 55px;
    width: 330px;
    height: 100%;

    &:nth-of-type(2) {
      width: 300px;
      margin-left: auto;
      margin-right: 50px;
    }
  }

  &__grid {
    margin-left: 85px;
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    column-gap: 40px;
    row-gap: 5px;

    img {
      height: 35px;
    }

    &__cyclist-mask {
      grid-template-rows: repeat(7, minmax(0, 1fr));
      height: 280px;
    }

    &__cyclist {
      margin-top: 46px;
      grid-template-rows: repeat(2, minmax(0, 1fr));
      height: 80px;
    }

    &__pedestrian-mask {
      margin-top: 43px;
      grid-template-rows: repeat(2, minmax(0, 1fr));
      height: 80px;
    }

    &__pedestrian {
      margin-top: 43px;
      grid-template-rows: repeat(2, minmax(0, 1fr));
      height: 80px;
    }

    &__scooter-mask {
      margin-top: 43px;
      grid-template-rows: repeat(1, minmax(0, 1fr));
      height: 45px;
    }

    &__scooter {
      margin-top: 36px;
      grid-template-rows: repeat(1, minmax(0, 1fr));
      height: 45px;
    }
  }

  button {
    background-color: #F6862A;
    box-shadow: 0 4px #F2632A;
    border-radius: 30px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    margin: 5px;

    &:focus, &:hover {
      background-color: #F2632A;
      box-shadow: 0 2px #F6862A;
      outline: none;
    }
  }

  .active-button {
    background-color: #F2632A;
    box-shadow: 0 2px #F6862A;
    outline: none;
  }

  .time-button {
    width: 90px;
    padding: 15px 0px;
    margin: 10px 5px 0;
    background-color: #D1D3D4;
    box-shadow: 0 4px #A7A9AC;
    color: black;

    &:focus, &:hover {
      background-color: #A7A9AC;
      box-shadow: 0 2px #D1D3D4;
      outline: none;
    }
  }

  &__comparison {
    display: flex;
    margin-top: 30px;

    div {
      width: 33%;


      &:nth-of-type(1) {
        margin-top: 70px;
      }

      h3 {
        font-size: 30px;
        margin: 20px 0 45px;
      }
    }

    img {
      display: block;
      width: 50px;
      margin: 20px auto 20px 0;
    }
  }
}