.m-waves {    
    position: absolute;
    top: 0;
    width: 100vw;
    height: 600px;
    background-color: #276c9d;

    &__container {
        overflow: hidden;
        height: 100%;
      }

    &__dark {
      background: url('../../img/waves-dark.png') repeat-x;
      background-size: 450px 1350px;
      height: 100%;
      width: 5076px;
      animation: slide 90s linear infinite;
    }

    &__light {
      position: absolute;
      top: 0;
      background: url('../../img/waves-light.png') repeat-x;
      background-size: 450px 1350px;
      height: 100%;
      width: 5076px;
      animation: slide 45s linear infinite;
    }
      
    @keyframes slide{
      0%{
        transform: translate3d(0, 0, 0);
      }
      100%{
        transform: translate3d(-1692px, 0, 0);
      }
    }
}