/* -------------------------------------------------------------------------- */
/*                                  Normalize                                 */
/* -------------------------------------------------------------------------- */
@import './vendor/normalize';

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */
@import './global/fonts';
@import './global/variables';
@import './global/mixins';
@import './global/base';
@import './global/global';

/* -------------------------------------------------------------------------- */
/*                                  Elements                                  */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                   Modules                                  */
/* -------------------------------------------------------------------------- */
@import './modules/m-waves.scss';
@import './modules/m-ferry.scss';
@import './modules/m-platform.scss';
@import './modules/m-overlay.scss';
@import './modules/m-sidebar.scss';
@import './modules/m-footer.scss';

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#root {
  overflow: hidden;
}